.header {
	display: flex;
	justify-content: space-between;
	padding: 16px 10%;
	border-bottom: 1px solid rgba(black, 0.1);
	flex-wrap: wrap;

	@media only screen and(max-width:$medium-screen) {
		padding: 16px 5%;
	}
}

.header-logo {
	p {
		font-size: 22px;
		color: rgba(black, 0.8);
		padding: 10px 20px;
	}
}

.header-items {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;

	justify-content: flex-end;

	p {
		color: $color-primary;
		margin-left: 32px;
		font-size: 20px;
		padding: 10px 20px;
		border-radius: 5px;
		transition: 0.1s;

		&:hover {
			background-color: rgba(slateblue, 0.1);
		}

		@media only screen and(max-width:$medium-screen) {
			margin-left: 0;
		}
	}
}
