$color-primary: slateblue;
$color-secondary: #17a2b8;
$color-dark: #141412;
$color-secondary-dark: #146a78;
//screen breakpoints
$small-screen: 600px;
$medium-screen: 768px;
$large-screen: 992px;
$x-large-screen: 1200px;
